.pageBanner {
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
}

.pageName {
  color: white;
  font-size: 50px;
  font-weight: bold;
  padding-top: 250px;
  text-align: center;
  text-shadow: #46453f 1px 0 10px;
  position: relative;
  height: 300px;
}

.pageBanner-img {
  width: 100%;
  height: 500px;
  -webkit-filter: blur(0.5px) brightness(0.6);
  z-index: -1;
  position: absolute;
  object-fit: cover;
}

.btn-list {
  margin-bottom: 3px;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 980px) {
  .pageName {
    font-size: 40px;
    padding-top: 100px;
  }

  .btn-list {
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .btnServiceList {
    width: 300px;
  }
}

@media screen and (max-width: 780px) {
  .pageName {
    font-size: 30px;
    padding-top: 100px;
  }

  .btnServiceList {
    width: 250px;
  }

}

@media screen and (max-width: 580px) {
  .pageName {
    font-size: 30px;
    padding-top: 70px;
  }

  .btnServiceList {
    width: 180px;
    font-size: 18px;
  }

}