.footer-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-subscribe {
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 50px;
}

.footer-subscribe > h1,
h3 {
  margin-bottom: 30px;
}

.footer-subscribe-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 17px;
  margin-bottom: 16px;
  border: 0px solid #fff;
  width: 300px;
  height: 50px;
}

.footer-subscribe-btn {
  min-width: 150px;
  margin-right: 10px;
  height: 50px;
}

.footer-section-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.footer-logo {
  width: 100%;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: "DancingBold";
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}

@media screen and (max-width: 650px) {
  .footer-subscribe-btn {
    width: 300px;
    height: 40px;
  }

  .footer-subscribe-input {
    height: 40px;
  }

  .footer-h1 {
    font-size: 30px;
  }

  .footer-h2 {
    font-size: 20px;
  }

  .footer-h3{
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

.footer-section-links {
    flex-direction: column;
    
  }

}

@media screen and (max-width: 680px) {
  
}