
.banner-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.banner-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  object-fit: cover;
}

.banner-h1 {
  color: white;
  font-size: 100px;
  font-weight: bold;
  margin-top: 300px;
  text-shadow: #46453f 1px 0 10px;
}

.banner-p {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
  text-shadow: #46453f 1px 0 10px;
}

.banner-btn-conteiner {
  margin-top: 30px;
  justify-content: center;
}

.bi-play-circle-fill {
  margin-left: 10px;
  background-color: white;
}

@media screen and (max-width: 980px) {
  .banner-h1 {
    font-size: 70px;
    margin-top: 300px;
  }

  .banner-img {
    width: auto;
  }


  /* не знайшла звідки */
  .signUp {
    margin-bottom: 30px;
    width: 300px;
    padding-left: 40px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .banner-h1 {
    font-size: 40px;
    margin-top: 300px;
  }

  .banner-p {
    font-size: 22px;
  }

  .banner-btn{
    margin-bottom: 30px;
    width: 300px;
    padding-left: 40px;
    margin-left: 20px;
  }

  .banner-img {
    width: auto;
  }

  .banner-btn-conteiner {
    display: flex;
    flex-direction: column;
  }
}
